*{
	outline: none;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.tittle{
	background-color:blue;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.app{
	display: flex;
	margin: 10px;

}
.image{
	max-width: 300px;
	margin: 10px;


}

.description{
	max-width: 705px;
	margin: 10px;
	
}